<div class="nova-consulta">
    <div class="titulo-nova">Nova Consulta</div>

    <form class="cadastra-consulta" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="inputs">
            <select 
                class="item" 
                [ngClass]="{visited: form.controls['especialidade'].valid}" 
                id="especialidade" 
                formControlName="especialidade"
            >
                <option [ngValue]="null" disabled>Especialidade</option>
                <option *ngFor="let esp of especialidades" [ngValue]="esp">{{ esp.nome }}</option>
            </select>

            <select 
                class="item"
                [ngClass]="{visited: form.controls['medico'].valid}"
                id="medico" 
                formControlName="medico"
            >
                <option [ngValue]="null" disabled>Médico</option>
                <option *ngFor="let med of medicos" [ngValue]="med">{{ med.nome }}</option>
            </select>

            <select 
                class="item"
                [ngClass]="{visited: form.controls['data'].valid}"
                (change)="onChangeData()"
                id="data" 
                formControlName="data"
            >
                <option [ngValue]="null" disabled>Data</option>
                <option *ngFor="let data of datas" [ngValue]="data">{{ data.nome }}</option>
            </select>

            <select 
                class="item"
                [ngClass]="{visited: form.controls['hora'].valid}"
                id="hora"
                formControlName="hora"
            >
                <option [ngValue]="null" disabled>Hora</option>
                <option *ngFor="let hora of horas" [ngValue]="hora">{{ hora }}</option>
            </select>
        </div>
        
        <div class="botoes">
            <a class="botao cancelar" href="#">Cancelar</a>
            <input class="botao confirmar" type="submit" value="Confirmar" [disabled]="!form.valid">
        </div>
    </form>
</div>