<div class="nova-consulta">
    <div class="titulo-nova">Nova Consulta</div>

    <form class="cadastra-consulta">
        <div class="inputs">
            <select class="item" name="especialidade" id="especialidade" required>
                <option value="" selected class="teste">Especialidade</option>
                <option value="Pediatria">Pediatria</option>
                <option value="Cardiologia">Pediatria</option>
                <option value="Nefrologia">Pediatria</option>
            </select>
    
            <select class="item" name="medico" id="medico" required>
                <option value="" selected>Médico</option>
                <option value="Gregory House">Gregory House</option>
                <option value="James Wilson">James Wilson</option>
                <option value="Lisa Cuddy">Lisa Cuddy</option>
            </select>
    
            <select class="item" name="data" id="data" required>
                <option value="" selected>Data</option>
                <option value="15/06">15/06</option>
                <option value="16/06">16/06</option>
                <option value="17/06">17/06</option>
            </select>
    
            <select class="item" name="hora" id="hora" required>
                <option value="" selected>Hora</option>
                <option value="15:00">15:00</option>
                <option value="16:00">16:00</option>
                <option value="17:00">17:00</option>
            </select>
        </div>
        
        <div class="botoes">
            <a class="botao cancelar" href="#">Cancelar</a>
            <input class="botao confirmar" type="submit" value="Confirmar">
        </div>
    </form>
</div>