<div class="registro">
    <img class="logo" src="assets/logo.png" alt="Logo">

    <div class="titulo">Crie sua conta</div>

    <form [formGroup]="form" (ngSubmit)="registro()">
        <div class="error existente" *ngIf="form.hasError('Existente')">
            <p>Usuário já existe!</p>
        </div>

        <input 
            class="entrada" 
            type="text"
            id="username" 
            placeholder="Nome"
            [formControl]="form.controls['username']"
        >
        <input 
            class="entrada" 
            type="email" 
            id="email"
            placeholder="Email"
            [formControl]="form.controls['email']"
        >
        <input 
            class="entrada" 
            type="password" 
            id="password" 
            placeholder="Senha"
            [formControl]="form.controls['password']"
        >
        <input 
            class="entrada" 
            type="password"
            id="password2" 
            placeholder="Confirmar senha"
            [formControl]="form.controls['password2']"
        >
        <div 
            class="error senhas" 
            *ngIf="form.controls['password2'].dirty && form.hasError('notSame')"
        >
            <p>Senhas diferentes!</p>
        </div>

        <div class="botoes">
            <a class="botao cancelar" [routerLink]="['/login']">Cancelar</a>
            <input 
                class="botao confirmar" 
                type="submit" 
                value="Confirmar"
                [disabled]="!form.valid"
            >
        </div>
    </form>
</div>