<div class="registro">
    <img class="logo" src="assets/logo.png" alt="Logo">

    <div class="titulo">Crie sua conta</div>

    <form>
        <input class="entrada" type="text" name="username" id="username" placeholder="Nome">
        <input class="entrada" type="email" name="email" id="email" placeholder="Email">
        <input class="entrada" type="password" name="password" id="password" placeholder="Senha">
        <input class="entrada" type="password" name="password2" id="password2" placeholder="Confirmar senha">

        <div class="botoes">
            <a class="botao cancelar" href="#">Criar Conta</a>
            <input class="botao confirmar" type="submit" value="Confirmar">
        </div>
    </form>
</div>