<div class="lista-consultas">
    <div class="titulo-lista">Consulta Clínica</div>
    <a class="botao" href="#">
        <img src="./../../assets/mais.png" alt="Adicionar consulta" class="icone">
        <div class="texto">Nova consulta</div>
    </a>
    <table>
        <tr>
            <th>ESPECIALIDADE</th>
            <th>PROFISSIONAL</th>
            <th>DATA</th>
            <th>HORA</th>
            <th></th>
        </tr>


        <tr>
            <td>Cardiologia</td>
            <td>Dr. Caio Carlos Pereira</td>
            <td>01/01/2020</td>
            <td>13:00</td>
            <td>Desmarcar</td>
        </tr>

        <tr class="gray">
            <td>Cardiologia</td>
            <td>Dr. Caio Carlos Pereira</td>
            <td>01/01/2020</td>
            <td>13:00</td>
            <td>Desmarcar</td>
        </tr>

        <tr>
            <td>Cardiologia</td>
            <td>Dr. Caio Carlos Pereira</td>
            <td>01/01/2020</td>
            <td>13:00</td>
            <td>Desmarcar</td>
        </tr>

        <tr class="gray">
            <td>Cardiologia</td>
            <td>Dr. Caio Carlos Pereira</td>
            <td>01/01/2020</td>
            <td>13:00</td>
            <td>Desmarcar</td>
        </tr>


    </table>
</div>
