<div class="lista-consultas">
    <div class="top-lista">
        <div class="titulo-lista">Consulta Clínica</div>
        <a class="botao-marcar" href="#">
            <img class="icone" src="assets/mais.png" alt="Marcar consulta">
            <div class="texto">Nova consulta</div>
        </a>
    </div>
    
    <table>
        <tr>
            <th>ESPECIALIDADE</th>
            <th>PROFISSIONAL</th>
            <th>DATA</th>
            <th>HORA</th>
            <th></th>
        </tr>

        
        <tr>
            <td>Cardiologia</td>
            <td>Dr. Caio Carlos Pereira</td>
            <td>01/01/2020</td>
            <td>13:00</td>
            <td>
                <button class="botao-desmarcar">
                    <img class="icone" src="assets/x.png" alt="Desmarcar consulta">
                    <div class="texto">Desmarcar</div>
                </button>
            </td>
        </tr>

        <tr class="gray">
            <td>Cardiologia</td>
            <td>Dr. Caio Carlos Pereira</td>
            <td>01/01/2020</td>
            <td>13:00</td>
            <td>
                <button class="botao-desmarcar">
                    <img class="icone" src="assets/x.png" alt="Desmarcar consulta">
                    <div class="texto">Desmarcar</div>
                </button>
            </td>
        </tr>

        <tr>
            <td>Cardiologia</td>
            <td>Dr. Caio Carlos Pereira</td>
            <td>01/01/2020</td>
            <td>13:00</td>
            <td>
                <button class="botao-desmarcar">
                    <img class="icone" src="assets/x.png" alt="Desmarcar consulta">
                    <div class="texto">Desmarcar</div>
                </button>
            </td>
        </tr>

        <tr class="gray">
            <td>Cardiologia</td>
            <td>Dr. Caio Carlos Pereira</td>
            <td>01/01/2020</td>
            <td>13:00</td>
            <td>
                <button class="botao-desmarcar">
                    <img class="icone" src="assets/x.png" alt="Desmarcar consulta">
                    <div class="texto">Desmarcar</div>
                </button>
            </td>
        </tr>
    </table>
</div>
