<app-header></app-header>
<div class="lista-consultas">
    <div class="top-lista">
        <div class="titulo-lista">Consulta Clínica</div>
        <a class="botao-marcar" href="#">
            <img class="icone" src="assets/mais.png" alt="Marcar consulta">
            <div class="texto">Nova consulta</div>
        </a>
    </div>
    
    <table>
        <tr>
            <th>ESPECIALIDADE</th>
            <th>PROFISSIONAL</th>
            <th>DATA</th>
            <th>HORA</th>
            <th></th>
        </tr>

        <tr 
            *ngFor="let consulta of consultas; let i = index"
            [ngClass]="{gray: i%2===1}"
        >
            <td>{{ consulta.medico.especialidade.nome }}</td>
            <td>{{ consulta.medico.nome }}</td>
            <td>{{ consulta.dia.split('-').reverse().join('/') }}</td>
            <td>{{ consulta.horario }}</td>
            <td>
                <button class="botao-desmarcar" (click)="onDesmarcaConsulta(consulta.id)">
                    <img class="icone" src="assets/x.png" alt="Desmarcar consulta">
                    <div class="texto">Desmarcar</div>
                </button>
            </td>
        </tr>
    </table>
</div>