.login {
    position: relative;
}

img {
    position: absolute;
    width: 180.74px;
    height: 50px;

    left: 483px;
    top: 235px;
}

.entrada {
    width: 400px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    box-sizing: border-box;
    border-radius: 4px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;

    display: flex;
    align-items: center;
}

::placeholder {
    color: #A8A8A8;
}

#username {
    position: absolute;
    left: 483px;
    top: 325px;
}

#password {
    position: absolute;
    left: 483px;
    top: 385px;
}

#remember {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 483px;
    top: 433px;

    background: #FFFFFF;
    border: 1px solid #A8A8A8;
    box-sizing: border-box;
    border-radius: 4px;
}

#remember-texto {
    position: absolute;
    width: 136px;
    height: 16px;
    left: 511px;
    top: 435px;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;

    /* Gray 2 */

    color: #A8A8A8;
}

.botoes {
    position: absolute;
    left: 483px;
    top: 492px;
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botao {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    width: 180px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.criar {
    text-decoration: none;
    color: #49B4BB;
}

.criar:hover {
    background: #D9F1F3;
}

.acessar {
    border: none;
    color: #FFFFFF;
}

.acessar:disabled {
    background: #D9F1F3;
}

.acessar:enabled {
    background: #49B4BB;
    cursor: pointer;
}