<div class="login">
    <img class="logo" src="assets/logo.png" alt="Logo">

    <form>
        <input type="text" name="username" id="username" placeholder="Email ou Login">
        <input type="password" name="password" id="password" placeholder="Senha">
        <input type="checkbox" name="remember" id="remember" value="remember">
        <label for="remember" id="remember-texto">Lembrar minha senha</label>

        <div class="botoes">
            <a href="#" class="botao-criar-conta">Criar Conta</a>
            <input type="submit" value="Acessar" class="botao-acessar">
        </div>
    </form>
</div>
