.header {
    /* position: relative; */
    display: flex;
    margin: 0 auto;
    width: 800px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
}

img {
    /* position: absolute; */
    /* top: 5px; */
    width: 90.37px;
    height: 25px;
    /* left: 369px;
    top: 18px; */
}


.top-right {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    width: 220px;
    /* line-height: 16px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*text-align: center; */
}

.user-logged {
    color: #A8A8A8;
}

.logout {
    border: none;
    font: inherit;
    background: inherit;
    cursor: pointer;

    color: #49B4BB;
}