.header {
    position: relative;
    display: flex;
    margin: 0 auto;
    width: 700px;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid #ccc; */
}

img {
    /* position: absolute; */
    /* top: 5px; */
    width: 90.37px;
    height: 25px;
    /* left: 369px;
    top: 18px; */
}


.top-right {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    width: 220px;
    /* line-height: 16px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*text-align: center; */
}

.user-logged {
    /* position: absolute; */
    /* width: 85px; */
    /* height: 13px; */
    /* left: 792px;
    top: 24px; */

    color: #A8A8A8;
}

.logout {
    text-decoration: none;

    /* position: absolute; */
    /* width: 79px; */
    /* height: 13px; */
    /* left: 917px;
    top: 24px; */


    color: #49B4BB;
}